<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>addedHome</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body>
    <div class="h-96 m-4 p-4 bg-fuchsia-200 text-center">
      <header class="p-3">
        <h1 class="font-bold text-3xl">Register Sucessfully</h1>
      </header>
      <main class=" m-4 mt-20 p-3 border-2 rounded-sm bg-amber-500">
        <p class="mb-10">House name:<strong>...</strong></p>
        <a class=" border-2 bg-amber-700 rounded-sm p-2 hover:opacity-50" href="/host/add-home">Back To Form</a>
        <a class=" border-2 bg-amber-700 rounded-sm p-2 hover:opacity-50" href="/">Back To Home</a>
      </main>
    </div>
  </body>
</html>
