<nav class=" bg-amber-900 p-4">
  <a
    class="ml-10 border-2 rounded-sm p-1.5 bg-amber-500 hover:bg-red-400  "
    href="/"
    >Home page</a
  >
  <a
    class=" ml-10 text-center bg-amber-600 p-1 rounded-sm border-2 border-blue-600 hover:bg-red-400"
    href="/host/add-home"
    >Add Home</a
  >
</nav>