<%- include('partials/head') %>
  <body class="bg-blue-950">
    <header
      class="m-10 p-10 border-2 rounded-3xl bg-amber-900 text-blue-100 text-center hover:opacity-70 "
    >
      <h1 class="text-3xl font-bold">404 your page is not found in airbnb</h1>
    </header>
  </body>
</html>
