<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Display</title>
  </head>
  <body>
    <header>
      <h2>we will contact you shortly</h2>
    </header>
    <main>
      <p>Name:<strong>....................</strong></p>
      <p>Email:<strong>....................</strong></p>
      <a href="/contact-us">Back to Contact form</a><br />
      <a href="/">Home</a><br />
    </main>
  </body>
</html>
