<%- include('../partials/head') %>
  <body class="bg-gray-100 flex justify-center items-center min-h-screen">
    <%- include('../partials/nav') %>
      <div class="bg-white shadow-lg rounded-3xl p-8 w-full max-w-md">
        <header class="text-center font-bold text-3xl text-gray-700 mb-6">
          <h1>
            Login with your Info
          </h1>
        </header>
        <main>
          <form action="/login" method="post" class="flex flex-col space-y-4">
            <input class="border-2 rounded-lg p-3 bg-gray-50 focus:ring-2 focus:ring-indigo-400 outline-none"
              type="text" name="username" placeholder="Enter your email/username" required>
            <input class="border-2 rounded-lg p-3 bg-gray-50 focus:ring-2 focus:ring-indigo-400 outline-none"
              type="password" name="password" placeholder="Enter your password" required>

            <button class="bg-indigo-600 text-white rounded-lg p-3 font-semibold hover:bg-indigo-700 transition-all"
              type="submit">
              Sign In
            </button>
          </form> 
        </main>
      </div>
  </body>

  </html>