<%- include('../partials/head') %>
  <body class="bg-blue-950">
    <%- include('../partials/nav') %>
    <main
      class=" mt-20 p-3 border-2 rounded-xl bg-amber-600 text-blue-100 text-center hover:opacity-70 "
    >
    <h1 class="text-3xl font-bold">Booking list here:</h1>
    <h2>No data are available</h2>
  </body>
</html>
